<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fyp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYP"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="31">
        <activity
            android:name=".QuizAttemptMain"
            android:exported="false" />
        <activity
            android:name=".Student_Section.QuizAttemptMain"
            android:exported="false" />
        <activity
            android:name=".Student_Section.Result"
            android:exported="false" />
        <activity
            android:name=".Student_Section.AttemptQuiz"
            android:exported="false" />
        <activity
            android:name=".Teacher_Section.saveQuestions"
            android:exported="false" />
        <activity
            android:name=".Teacher_Section.createQuiz"
            android:exported="false" />
        <activity
            android:name=".Teacher_Section.Attadence"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".Teacher_Section.Classes"
            android:exported="false" />
        <activity
            android:name=".Student_Section.OrderSummary"
            android:exported="false" />
        <activity
            android:name=".Admin_Section.OrderBill"
            android:exported="false" />
        <activity
            android:name=".Teacher_Section.Teacher1"
            android:exported="false" />
        <activity
            android:name=".splashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Student_Section.StudentLogin"
            android:exported="false" />
        <activity
            android:name=".Admin_Section.AddStudent"
            android:exported="false" />
        <activity
            android:name=".Admin_Section.AddTeacher"
            android:exported="false" />
        <activity
            android:name=".Admin_Section.admin_Main"
            android:exported="false" />
        <activity
            android:name=".Admin_Section.Admin_Login"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Student_Section.Student"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>